:root {
  --base-color: #b92653;
  --base-color-hover: #e14373;
  --base-color-active: #89183a;
  --transition-duration: 0.3s;
  --gray-color: #d1d1d1;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.blocks {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}

/* Headings */
.subtitle {
  font-size: 32px;
  margin-bottom: 45px;
}
.subtitle_line {
  position: relative;
  text-align: center;
}
.subtitle_line::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--base-color);
  width: 80px;
  height: 2px;
  left: calc(50% - 40px);
  bottom: -15px;
}

.title-h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

/* Text */
.desc {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
}

/* Links */
.link-base {
  transition: color var(--transition-duration);
}
.link-base:hover {
  color: var(--base-color);
}
.link-base:active {
  color: var(--base-color-active);
}

/* Reset styles for buttons */
.btn-reset {
  border: none;
  outline: none;
  background-color: none;
  padding: 0;
}
.btn-base {
  padding: 6px 32px;
  color: #fff;
  background-color: var(--base-color);
  border-radius: 14px;
  transition: background-color var(--transition-duration);
  cursor: pointer;
}
.btn-base:hover {
  background-color: var(--base-color-hover);
  transition: var(--transition-duration);
}
.btn-base:active {
  background-color: var(--base-color-active);
}
.btn-base:focus {
  outline: var(--base-color) 1px solid;
  outline-offset: 3px;
}

/* Gray buttons */
.btn-gray {
  padding: 6px 32px;
  color: #000;
  border: 1px solid var(--gray-color);
  border-radius: 14px;
  transition: background-color var(--transition-duration),
    border-color var(--transition-duration) color var(--transition-duration);
  cursor: pointer;
}
.btn-gray:hover {
  background-color: var(--base-color-hover);
  border-color: var(--base-color-hover);
  color: #fff;
}
.btn-gray:active {
  background-color: var(--base-color-active);
  border-color: var(--base-color-active);
  color: #fff;
}
.btn-gray:focus {
  outline: var(--base-color) 1px solid;
  outline-offset: 3px;
}

/* Logo */
.logo {
  display: block;
}
.logo__img {
  display: block;
  width: 70px;
  object-fit: contain;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Info card */
.info-card {
  display: flex;
  background-size: cover;
  background-position: center;
}
.info-card__content {
  padding: 35px;
  color: #ffffffb8;
  height: 100%;
}
.info-card__content_color {
  background: linear-gradient(
    45deg,
    rgba(185, 38, 83, 0.9) 0%,
    rgba(185, 38, 83, 0.3) 83%
  );
}
.info-card__content_bw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 400px;
  backdrop-filter: grayscale(100%) brightness(50%);
}
.info-card__content_bottom_color {
    background: linear-gradient(
      45deg,
      rgba(185, 38, 83, 0.9) 0%,
      rgba(185, 38, 83, 0.3) 83%
    );
    align-self: flex-end;
    height: auto;
}

/* Service card */
.service-card {
    position: relative;
    display: flex;
    background-color: #fff;
}
.service-card__img {
    display: block;
    width: 200px;
    object-fit: cover;
}
.service-card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    gap: 35px;
}
.service-card__desc {
    margin-bottom: 0;
}
.service-card__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
}
.service-card__badge::after {
  content: attr(data-badge);
  display: block;
  font-size: 14px;
  letter-spacing: 1.5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 180px;
  padding: 8px 14px;
}

/* Step card */
.step-card__box {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}

.step-card {
  position: relative;
  padding: 25px;
  background-color: #fff;
}
.step-card__desc {
  margin-bottom: 0;
}
.step-card::after {
  content: '1';
  display: block;
  font-size: 16px;
  letter-spacing: 1.5px;
  position: absolute;
  background-color: var(--base-color);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -25px;
  top: calc(50% - 25px);
}
.step-card:nth-child(2n):after {
  right: inherit;
  left: -25px;
}


.box {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.client-card {
  
}
.client-card__link {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color var(--transition-duration);
}
.client-card__link:hover {
  background-color: var(--base-color);
}
.client-card__link::before {
  content: '';
  display: block;
  padding-top: 100%;
}

